:root {
  --light-pink: #ffd0d0;
  --dark-pink: #ff9eaa;
  --light-green: #c1ece4;
  --dark-green: #3aa6b9;
  --light-text: #fff5ec;
  --dark-text: #0a2529;
}

html,
body {
  color: black;
  font-family: stardust, DungG;
}
a {
  text-decoration: none;
  color: black;
}

/* button font 변경 */
button {
    font-family: stardust, DungG;
}

@font-face {
  font-family: "startdust";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/PFstartdust.ttf") format("truetype");
}

@font-face {
  font-family: "DungG";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/DungGeunMo.ttf") format("truetype");
}
